.about-page {
  position: relative;
}

.book-text {
  position: absolute;
  padding: 24px;
  font-family: "Satisfy", "Kalam", "Georgia", serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 1.6;
  color: #5C3A21;
  text-align: justify;
} 

.book-text p {
  margin-bottom: 14px;  
}

.book-text a {
  color: inherit;
  font-family: inherit;
  text-decoration: underline;
}

.book-left {
  top: 15%;
  left: 24%;
  width: 25%;
  height: 75%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.book-right {
  top: 12%;
  right: 24%;
  width: 25%;
  height: 73%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-portrait {
  position: absolute;
  bottom: -1.5rem;
  right: -1.8rem;

  width: 235px;
  height: auto;
  opacity: 0.95;
}

.about-chest {
  position: absolute;
  top: -1rem;
  left: -0.5rem;

  width: 215px;
  height: auto;
  opacity: 0.95;
}
