.media-paper {
  position: relative;
  width: 100%;
  height: 100%;

  padding: 18px 16px 16px;
  box-sizing: border-box;
  filter: drop-shadow(0 6px 14px rgba(0, 0, 0, 0.25));

  transition:
    transform 0.25s ease,
    filter 0.25s ease;
}

.media-paper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../assets/images/icons/paper.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  z-index: 0;
  transform-origin: center;
}

.media-paper img {
  display: block;
  border-radius: 1px;
  max-width: 100%;
  max-height: 100%;

  filter:
  sepia(50%)
  saturate(0.85)
  contrast(0.95)
  brightness(0.98);
}

.media-board .media-paper::before {
  transform-origin: center;
  backface-visibility: hidden;
}

.media-board .media-card:nth-child(2n) .media-paper::before {
  transform: scaleX(-1);
}

.media-board .media-card:nth-child(3n) .media-paper::before {
  transform: scaleY(-1);
}

.media-paper > * {
  position: relative;
  z-index: 1;
}
