* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --safe-top: 100px;
  --safe-bottom: 100px;
  --safe-left: 48px;
  --safe-right: 48px;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page {
  width: 100dvw;
  height: 100dvh;
  padding: 
    max(var(--safe-top), env(safe-area-inset-top)) 
    max(var(--safe-right), env(safe-area-inset-right)) 
    max(var(--safe-bottom), env(safe-area-inset-bottom)) 
    max(var(--safe-left), env(safe-area-inset-left));
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page > *:not(.compass-root):not(.audio-root) {
  flex-shrink: 0;
}
