.about-page {
  position: relative;
}

.book-text {
  position: absolute;
  padding: 24px;
  font-family: "Kalam", "Georgia", serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.6;
  color: #5C3A21;
  text-align: justify;
}

.book-text p {
  margin-bottom: 14px;  
}

.book-text a {
  color: inherit;
  font-family: inherit;
  text-decoration: underline;
}

.book-left {
  top: 15%;
  left: 24%;
  width: 25%;
  height: 71%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.book-right {
  top: 12%;
  right: 24%;
  width: 25%;
  height: 73%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-portrait {
  position: absolute;
  bottom: -1rem;
  right: -1.8rem;

  width: 230px;
  height: auto;
  opacity: 0.95;
}

.about-chest {
  position: absolute;
  top: -3.5rem;
  left: -0.5rem;

  width: 215px;
  height: auto;
  opacity: 0.95;

  filter:
    sepia(45%)
    saturate(170%)
    hue-rotate(-15deg)
    brightness(1.04)
    contrast(1.1);
}
