.map-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.map-icon img {
  width: clamp(64px, calc(var(--design-width) * 0.08 * 1px), 160px);
  height: auto;
  transition: transform 0.2s ease;
}

.map-icon:hover img {
  transform: scale(1.1);
}

.map-page {
  padding-bottom: 48px;
  box-sizing: border-box;
}

.map-label {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);

  font-size: 20px;
  font-family: "Satisfy", "Kalam", Georgia, serif;
  font-weight: 900;
  letter-spacing: 2px;

  color: #5C3A21;

  white-space: nowrap;
  pointer-events: none;

  opacity: 0;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  text-shadow:
    -0.5px -0.5px 0 #f8e9cf,
     0.5px -0.5px 0 #f8e9cf,
    -0.5px  0.5px 0 #f8e9cf,
     0.5px  0.5px 0 #f8e9cf;
}

.map-icon:hover .map-label {
  opacity: 1;
  transform: translate(-50%, 0%);
}
