.media-card .media-pin {
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translate(-50%, -50%);
  width: 30px;
  z-index: 6;
  pointer-events: none;
  display: block;
  object-fit: contain;
}

.media-board .media-card:nth-child(2n) .media-pin {
  transform: translate(-50%, -50%) scaleX(-1);
}

.media-board .media-card:nth-child(3n) .media-pin {
  transform: translate(-50%, -50%) rotate(-6deg);
}
