:root {
  --design-width: 1366;
  --design-height: 768;
  --scale: 1;
}

.site-viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.site-frame {
  width: calc(var(--design-width) * 1px);
  height: calc(var(--design-height) * 1px);
  transform-origin: center center;
  transform: scale(var(--scale));
  box-sizing: border-box;
}

.site-frame > .page {
  width: calc(var(--design-width) * 1px) !important;
  min-height: calc(var(--design-height) * 1px) !important;
  height: auto !important;
  box-sizing: border-box;
  overflow: hidden !important;
}
